.main_container{
    display: flex;
    height: 100vh;
    padding: 25px;
    flex-direction: column;
    background: #000;
}
.header{
    flex: 1;
  
}
.tv_show_detail{
    flex: 2;
    
}
.recommentations{
    flex:1;
}
.title{
    font-weight: 400;
    font-size: 35px;
}
.overview{
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    height: 120px;
    overflow-y: hidden;
    margin-top: 10px;
}